.first-section{
    width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background: white; flex-direction: column; justify-content: center; align-items: center; gap: 50px; display: inline-flex;
}
.navbar{
    width: 1216px; padding-top: 10px; padding-bottom: 10px; justify-content: space-between; align-items: center; display: inline-flex;
}
.yourname{
    width: 131px; color: #1A1A1A; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word
}   
.idn1{ 
    justify-content: flex-start; align-items: flex-start; gap: 14px; display: flex;
}
/* .idn2{
     width: 32px; height: 32px; position: relative;
} */
.theblog{
    color: #1A1A1A; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
.idn3{
padding: 8px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex
}
/* .projects{
    color: #1A1A1A; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
} */
/* .about{
    color: #1A1A1A; font-size: 20px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
} */
.toggleicon{
    padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: #090D1F; border-radius: 29px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex;
}
.idn4{
width: 24px; height: 24px; justify-content: center; align-items: center; display: flex;
}
.idn5{
    width: 24px; height: 24px; position: relative;
}
.idn6{
    width: 14.50px; height: 14.50px; left: 4.75px; top: 4.75px; position: absolute; background: white;
}
.idn7{
    width: 21.96px; height: 21.96px; left: 1px; top: 1px; position: absolute; background: white;
}
.idn8{
    width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0;
}
.idn9{
    background: white; border-radius: 20px; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex;
}
.idn10{
    width: 20.86px; height: 21.50px; left: 1.25px; top: 1.25px; position: absolute;
}
.idn11{
    width: 1216px; border-top: 1px rgba(0, 0, 0, 0.34) solid; border-bottom: 1px rgba(0, 0, 0, 0.34) solid; justify-content: flex-start; align-items: flex-start; gap: 260px; display: inline-flex;
}
.maincontent{
     color: #1A1A1A; font-size: 243.80px; font-family: Inter; font-weight: 500; word-wrap: break-word; 
    
}
.section2{
    width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: inline-flex;
}
.sectin2-1{
    height: 496px; padding-left: 32px; padding-right: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex;
}
.recentblog{
    align-self: stretch; color: #1A1A1A; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 32px; word-wrap: break-word;
}     
.imagegap{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex;
}
.imagebox{
    flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex;
}
.image{
    width: 592px; height: 228px; position: relative;
}
.contentpart{
    align-self: stretch; height: 172px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex;
}
.oliviyagap{
    align-self: stretch; height: 124px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;
}
.oliviya{
    align-self: stretch; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word;
}
.ukgap{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex;
}
.ukreveiw{
    flex: 1 1 0; color: #1A1A1A; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 32px; word-wrap: break-word;
}
.ukgap2{
    padding-top: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
}
.arrowbox{
    width: 24px; height: 24px; position: relative;
}
.arrow{
    width: 10px; height: 10px; left: 7px; top: 7px; position: absolute; border: 2px #1A1A1A solid;
}
.howdoyou{
    align-self: stretch; color: #667085; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
.footer1{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex;
}
.design1{
    mix-blend-mode: multiply; justify-content: flex-start; align-items: flex-start; display: flex;
}
.design2{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #524a6e; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.design{
    text-align: center; color: #b8a0f0; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;

}
.research1{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #EEF4FF; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.research{
    text-align: center; color: #3538CD; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.presentation1{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #FDF2FA; border-radius: 16px; justify-content: center; align-items: center; display: flex
}.presentstion{
    text-align: center; color: #C11574; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.section2-2{
    flex: 1 1 0; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: inline-flex;
}
.imagebbox2{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;
}
.image2{
    width: 320px; height: 200px; position: relative;  
}
.phonix1{
    flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;
}
.phonix2{
    align-self: stretch; height: 140px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;
}
.phonix{
    align-self: stretch; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word;
}
.merging1{
    align-self: stretch; height: 108px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex;
}
.merging{
    align-self: stretch; color: #1A1A1A; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word;
}
.linear{
    align-self: stretch; color: #667085; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
.designin{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex;
}
.designinside{
    mix-blend-mode: multiply; justify-content: flex-start; align-items: flex-start; display: flex;

}
.designbox{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #F0F9FF; border-radius: 16px; justify-content: center; align-items: center; display: flex;
                                        
}
.designsection2{
    text-align: center; color: #026AA2; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.researchin{
    mix-blend-mode: multiply; justify-content: flex-start; align-items: flex-start; display: flex;
}
.researchout{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #FDF2FA; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.researchsection2{
    text-align: center; color: #C11574; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.imagebox3{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;
}
.lan1{
    flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;
}
.lan2{
    align-self: stretch; height: 140px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;
}
.lan{
    align-self: stretch; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word;
}
.building1{
    align-self: stretch; height: 108px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex;
}
.building{
    align-self: stretch; color: #1A1A1A; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word;
}
.therise{
    align-self: stretch; color: #667085; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
.designox4{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #ECFDF3; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.designcontent{
    text-align: center; color: #027A48; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.researchcontent{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #FDF2FA; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.researchmain{
    text-align: center; color: #C11574; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.section3{
    height: 246px; padding-left: 32px; padding-right: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex;
}
.imageoutside{
    align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex;
}
.imageinside{
    flex: 1 1 0; align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex;
}
.image4{
    width: 592px; height: 246px; position: relative;
}
.oliviyaout{
flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;
}
.oliviyain{
align-self: stretch; height: 196px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;
}
.oliviya3{
align-self: stretch; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word
}
.gridout{
align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex;
}
.grid{
    flex: 1 1 0; color: #1A1A1A; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 32px; word-wrap: break-word"
}
.gridpadding{
    padding-top: 4px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex;
}
.gridpadding1{
    width: 24px; height: 24px; position: relative;
}
.gridborder{
    width: 10px; height: 10px; left: 7px; top: 7px; position: absolute; border: 2px #1A1A1A solid;
}
.section3main{
    align-self: stretch; color: #667085; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 24px; word-wrap: break-word;
}
.designsection3{
    padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #F9F5FF; border-radius: 16px; justify-content: center; align-items: center; display: flex;
    
}
.maindesign{
    text-align: center; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.designsection3-1{
padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; background: #FDF2FA; border-radius: 16px; justify-content: center; align-items: center; display: flex;
}
.maininterface{
text-align: center; color: #C11574; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.footer2{
align-self: stretch; height: 61px; padding-top: 20px; border-top: 1px #EAECF0 solid; justify-content: space-between; align-items: center; display: inline-flex;
}
.footer2-1{
justify-content: flex-start; align-items: flex-start; display: flex;
}
.footer2-2{
justify-content: center; align-items: center; gap: 8px; display: flex;
}
.footer2-3{
width: 20px; height: 20px; position: relative;
}
.footer-background{
width: 11.67px; height: 11.67px; left: 4.17px; top: 4.17px; position: absolute; border: 1.67px #667085 solid;
}
.previous{
color: #667085; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.largebox{
justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex;
}
.footerbox1{
width: 40px; height: 40px; background: #F9F5FF; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; display: flex;
}
.footerborder{
flex: 1 1 0; align-self: stretch; padding: 12px; border-radius: 8px; justify-content: center; align-items: center; display: inline-flex;
}
.footer1main{
text-align: center; color: #7F56D9; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.footerbox2{
width: 40px; height: 40px; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; display: flex
}
.footer2main{
text-align: center; color: #667085; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word;
}
.section4{
width: 100%; height: 100%; padding-top: 30px; padding-bottom: 30px; background: white; flex-direction: column; justify-content: flex-start; align-items: center; gap: 64px; display: inline-flex;
}
.section4padding{
height: 1123px; padding-left: 32px; padding-right: 32px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: flex;
}
.section4height{
height: 1032px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: flex;
}
.section4mainheading{
align-self: stretch; color: #1A1A1A; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 32px; word-wrap: break-word;
}
.section4height2{
align-self: stretch; height: 968px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 48px; display: flex;
}
.section4image1{
align-self: stretch; justify-content: center; align-items: flex-start; gap: 32px; display: inline-flex;
}
.section4image1box{
flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex
}
.section4imagewidth{
width: 384px; height: 240px; position: relative;
}
.alacecout{
align-self: stretch; height: 172px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex;
}
.alacein{
    align-self: stretch; height: 124px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;
}
.alace{
align-self: stretch; color: #6941C6; font-size: 14px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word;
}